<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calander</title>
    <link rel="stylesheet" href="/stylesheets/calendar.css" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <!--Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Navigation bar -->
<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="homepage2">Church Centre</a>
          </div>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/account">View Account</a></li>
                      <li><a href="#">View Registered Children</a></li>
                      <li><a href="#">Register a child</a></li>
                  </ul>
              </li>
              <li><a href="#">Calendar</a></li>
              <li><a href="schedule">Schedule</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li style="padding-top: 10px; padding-right: 15px;">Welcome, {{user}}</li>
              <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
     </div>
</nav>

<!--Calander -->
<div id="calendar-wrap">
    <header>
        <br>
        <br>
        <br/>
        <h1>August 2014</h1>
    </header>
    <div id="calendar">
        <ul class="weekdays">
            <li>Sunday</li>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
        </ul>

        <!-- Days from previous month -->

        <ul class="days">
            <li class="day other-month">
                <div class="date">27</div>
            </li>
            <li class="day other-month">
                <div class="date">28</div>
                <div class="event">
                    <div class="event-desc">
                        HTML 5 lecture with Brad Traversy from Eduonix
                    </div>
                    <div class="event-time">
                        1:00pm to 3:00pm
                    </div>
                </div>
            </li>
            <li class="day other-month">
                <div class="date">29</div>
            </li>
            <li class="day other-month">
                <div class="date">30</div>
            </li>
            <li class="day other-month">
                <div class="date">31</div>
            </li>

            <!-- Days in current month -->

            <li class="day">
                <div class="date">1</div>
            </li>
            <li class="day">
                <div class="date">2</div>
                <div class="event">
                    <div class="event-desc">
                        Career development @ Community College room #402
                    </div>
                    <div class="event-time">
                        2:00pm to 5:00pm
                    </div>
                </div>
            </li>
        </ul>

        <!-- Row #2 -->

        <ul class="days">
            <li class="day">
                <div class="date">3</div>
            </li>
            <li class="day">
                <div class="date">4</div>
            </li>
            <li class="day">
                <div class="date">5</div>
            </li>
            <li class="day">
                <div class="date">6</div>
            </li>
            <li class="day">
                <div class="date">7</div>
                <div class="event">
                    <div class="event-desc">
                        Group Project meetup
                    </div>
                    <div class="event-time">
                        6:00pm to 8:30pm
                    </div>
                </div>
            </li>
            <li class="day">
                <div class="date">8</div>
            </li>
            <li class="day">
                <div class="date">9</div>
            </li>
        </ul>

        <!-- Row #3 -->

        <ul class="days">
            <li class="day">
                <div class="date">10</div>
            </li>
            <li class="day">
                <div class="date">11</div>
            </li>
            <li class="day">
                <div class="date">12</div>
            </li>
            <li class="day">
                <div class="date">13</div>
            </li>
            <li class="day">
                <div class="date">14</div><div class="event">
                <div class="event-desc">
                    Board Meeting
                </div>
                <div class="event-time">
                    1:00pm to 3:00pm
                </div>
            </div>
            </li>
            <li class="day">
                <div class="date">15</div>
            </li>
            <li class="day">
                <div class="date">16</div>
            </li>
        </ul>

        <!-- Row #4 -->

        <ul class="days">
            <li class="day">
                <div class="date">17</div>
            </li>
            <li class="day">
                <div class="date">18</div>
            </li>
            <li class="day">
                <div class="date">19</div>
            </li>
            <li class="day">
                <div class="date">20</div>
            </li>
            <li class="day">
                <div class="date">21</div>
            </li>
            <li class="day">
                <div class="date">22</div>
                <div class="event">
                    <div class="event-desc">
                        Conference call
                    </div>
                    <div class="event-time">
                        9:00am to 12:00pm
                    </div>
                </div>
            </li>
            <li class="day">
                <div class="date">23</div>
            </li>
        </ul>

        <!-- Row #5 -->

        <ul class="days">
            <li class="day">
                <div class="date">24</div>
            </li>
            <li class="day">
                <div class="date">25</div>
                <div class="event">
                    <div class="event-desc">
                        Conference Call
                    </div>
                    <div class="event-time">
                        1:00pm to 3:00pm
                    </div>
                </div>
            </li>
            <li class="day">
                <div class="date">26</div>
            </li>
            <li class="day">
                <div class="date">27</div>
            </li>
            <li class="day">
                <div class="date">28</div>
            </li>
            <li class="day">
                <div class="date">29</div>
            </li>
            <li class="day">
                <div class="date">30</div>
            </li>
        </ul>

        <!-- Row #6 -->

        <ul class="days">
            <li class="day">
                <div class="date">31</div>
            </li>
            <li class="day other-month">
                <div class="date">1</div> <!-- Next Month -->
            </li>
            <li class="day other-month">
                <div class="date">2</div>
            </li>
            <li class="day other-month">
                <div class="date">3</div>
            </li>
            <li class="day other-month">
                <div class="date">4</div>
            </li>
            <li class="day other-month">
                <div class="date">5</div>
            </li>
            <li class="day other-month">
                <div class="date">6</div>
            </li>
        </ul>

    </div><!-- /. calendar -->
</div><!-- /. wrap -->
</body>
</html>