<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/eventDB.css" type="text/css"/>

    <!--Bootstrap JS - Used to make the Account drop down function-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Navigation bar -->
    <nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                 <div class="navbar-header">
                      <a class="navbar-brand" href="/homepage2">Church Centre</a>
                 </div>
                 <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="../account">View Account</a></li>
                           <li><a href="#">View Registered Children</a></li>
                           <li><a href="#">Register a child</a></li>
                        </ul>
                      </li>
                      <li><a href="/Users/calendar">Calendar</a></li>
                      <li><a href="#">Schedule</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                      <li style="padding-top: 10px; padding-right: 15px;"><span style="text-transform: uppercase;">{{user}}</span></li>
                 </ul>
            </div>
    </nav>

    <!--Month Year Scripts -->
    <script>
        function monthfunction(month){
            window.location.href = "/users/eventlist?id="+ month;
        }
    </script>

    <h3>Get Data</h3>
    <a href="childList" style="margin-left: 2.5em;">REFRESH</a>
    <h1><b>Registered Children</b></h1>
    <hr/>
    <div id="childList">
            {{# each childList }}
            <article class="item">
                <h2> {{ this.firstname }} {{ this.lastname }} </h2>
                <div>Grade : {{ this.grade }}</div>
                <br><hr/>
            </article>
            {{/each}}
    </div>
</body>
