<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Church Centre | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co"/>
    <meta name="keywords"
          content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FreeHTML5.co"/>

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FreeHTML5.co

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FONT AWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="/stylesheets/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Modernizr JS -->
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Navbar -->
<div id="fh5co-page">
    <header id="fh5co-header" role="banner">
        <div class="container">
            <div class="header-inner">
                <h1><a href="#">Church Centre<span>.</span></a></h1>
                <nav role="navigation">
                    <ul>
                        <li><a class="page-scroll" href="#account-scroll">Account</a></li>
                        <li><a class="page-scroll" href="#calendar-scroll">Calendar</a></li>
                        <li><a class="page-scroll" href="#schedule-scroll">Schedule</a></li>
                        &nbsp; &nbsp;
                        <li style="color: white;">Welcome, <span style="text-transform: uppercase;">{{user}}</span> !</li>
                        <li class="cta"><a href="/sign-out">Sign Out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Bulletin -->
    <aside id="fh5co-hero" class="js-fullheight">
        <div class="flexslider js-fullheight">
            <ul class="slides">
                <li style="background-image: url(/images/slide_1.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>View Your Account and Registered Children</h2>
                                <p><a href="#account-scroll" class="page-scroll btn btn-primary btn-lg">Go to
                                    Accounts</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/images/slide_3.jpg);">
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>Know What is Happening at Church Centre</h2>
                                <p><a href="#calendar-scroll" class="page-scroll btn btn-primary btn-lg">Go to
                                    Calendar</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/images/slide_2.jpg);">
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                            <div class="slider-text-inner">
                                <h2>View Schedules for You and Your Children</h2>
                                <p><a href="#schedule-scroll" class="page-scroll btn btn-primary btn-lg">Go To
                                    Schedule</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <!-- ACCOUNTS SECTION -->
    <div id="account-scroll" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Account</h2>
                    <p>Manage your account and registered children</p>
                </div>
                <div class="col-md-4 text-center item-block">
                    <span class="icon"><i class="fa fa-user" style="font-size: 6em;"></i></span>
                    <h3>View your Account</h3>
                    <p>Take a look at your account information!</p>
                    <p><a href="/account" class="btn btn-primary btn-outline with-arrow">View Account<i
                            class="icon-arrow-right"></i></a></p>
                </div>
                <div class="col-md-4 text-center item-block">
                    <span class="icon"><i class="fa fa-group" style="font-size: 6em;"></i></span>
                    <h3>View Registered Children</h3>
                    <p>Check on all the children you have registered under your name!</p>
                    <p><a href="/childList" class="btn btn-primary btn-outline with-arrow" style="margin-top: -20px;">View
                        Children<i class="icon-arrow-right"></i></a></p>
                </div>
                <div class="col-md-4 text-center item-block">
                    <span class="icon"><i class="fa fa-user-plus" style="font-size: 6em;"></i></span>
                    <h3>Register A Child</h3>
                    <p>Add an additional child under your name!</p>
                    <p><a href="/registerchild" class="btn btn-primary btn-outline with-arrow">Register A Child<i
                            class="icon-arrow-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendar -->
    <div id="calendar-scroll" class="fh5co-section-with-image">

        <img src="/images/image_1.jpg" alt="" class="img-responsive">
        <div class="calendar-logo">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="fh5co-box animate-box">
            <h2>Calendar</h2>
            <p>Save the dates! Check out the events happening at Church Centre. <br/>Click on an event to see the details, and register!</p>
            <p><a href="/users/calendar" class="btn btn-primary btn-outline with-arrow">Open Calendar<i
                    class="icon-arrow-right"></i></a></p>
        </div>

    </div>

    <!-- Schedule -->
    <div id="schedule-scroll" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Schedule</h2>
                    <p>Be in the know about what is happening daily, weekly, or monthly for you and your child(ren)</p>
                </div>
                <div class="col-md-4 text-center item-block">
                    <span class="icon"><i class="fa fa-group" style="font-size: 6em;"></i></span>
                    <h3>View Your Schedule</h3>
                    <p>Take a look at what is planned for you and your children in your personalized events schedule!</p>
                    <p><a href="/Users/eventlist" class="btn btn-primary btn-outline with-arrow">View Schedule<i
                            class="icon-arrow-right"></i></a></p>
                </div>
                <!-- SECTION DISABLED
                <div class="col-md-4 text-center item-block">
                    <blockquote>
                        <p>&ldquo; She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;</p>
                        <p><span class="fh5co-author"><cite>Jason Davidson</cite></span><i class="icon twitter-color icon-twitter pull-right"></i></p>

                    </blockquote>
                </div>
                <div class="col-md-4 text-center item-block">
                    <blockquote>
                        <p>&ldquo; Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. She had a last view back on the skyline of her hometown Bookmarksgrove, the headline of. &rdquo;</p>
                        <p><span class="fh5co-author"><cite>Kyle Smith</cite></span><i class="icon googleplus-color icon-google-plus pull-right"></i></p>
                    </blockquote>
                </div>
                <div class="col-md-4 text-center item-block">

                    <blockquote>
                        <p>&ldquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. S	he had a last view back on the skyline of her hometown Bookmarksgrove. &rdquo;</p>
                        <p><span class="fh5co-author"><cite>Rick Cook</cite></span><i class="icon facebook-color icon-facebook pull-right"></i></p>
                    </blockquote>
                </div>
                DISABLED SECTION ENDS HERE -->
            </div>
        </div>
    </div>

    <!--AWESOME PRODUCTS SECTION DISABLED -->
    <!-- DISABLED SECTION STARTS HERE ------
	<div id="fh5co-grid-products" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Awesome Products</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
			</div>
		</div>


		<div class="col-1">
			<a href="#" class="item-grid one" style="background-image: url(/images/image_4.jpg)">
				<div class="v-align">
					<div class="v-align-middle">
						<span class="icon"><img src="/images/9.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Geographical App</h3>
						<h5 class="category">Web Application</h5>
					</div>
				</div>
			</a>
			<a href="#" class="item-grid three" style="background-image: url(/images/image_3.jpg)">
				<div class="v-align">
					<div class="v-align-middle">
						<span class="icon"><img src="/images/18.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Communication App</h3>
						<h5 class="category">Web Application</h5>
					</div>
				</div>
			</a>
		</div>
		<div class="col-2">
			<a href="#" class="item-grid two" style="background-image: url(/images/image_2.jpg)">
				<div class="v-align">
					<div class="v-align-middle">
						<span class="icon"><img src="/images/27.svg" alt="Free HTML5 Templates" class="img-responsive"></span>
						<h3 class="title">Golf Club Tracker</h3>
						<h5 class="category">Web Application</h5>
					</div>
				</div>
			</a>

		</div>


	</div>
	DISABLED SECTION ENDS HERE-->

    <!--LATEST FROM BLOG SECTION DISABLED -->
    <!-- DISABLED SECTION STARTS HERE ------
	<div id="fh5co-blog" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Latest <em>from</em> Blog</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="/images/image_1.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
						<div class="fh5co-copy">
							<h3>We Create Awesome Free Templates</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="/images/image_2.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
						<div class="fh5co-copy">
							<h3>Handcrafted Using CSS3 &amp; HTML5</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</a>
				</div>
				<div class="col-md-4">
					<a class="fh5co-entry" href="#">
						<figure>
						<img src="/images/image_3.jpg" alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
						</figure>
						<div class="fh5co-copy">
							<h3>We Try To Update The Site Everyday</h3>
							<span class="fh5co-date">June 8, 2016</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</a>
				</div>
				<div class="col-md-12 text-center">
					<p><a href="#" class="btn btn-primary btn-outline with-arrow">View More Posts <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>
    DISABLED SECTION ENDS HERE -->

    <!-- SECTION DISABLED -->
    <!-- DISABLED SECTION STARTS HERE -------
	<div class="fh5co-cta" style="background-image: url(/images/image_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-md-12 text-center animate-box">
				<h3>We Try To Update The Site Everyday</h3>
				<p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
    DISABLED SECTION ENDS HERE -->

    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>About Us</h3>
                <p>Church Centre is a web application that provides a convenient way to manage Church ministries.
                    This web application can be used for Children and Youth Ministries,
                    and is designed to keep children and parents' information secure.</p>
                <!-- Button disabled
                <p><a href="#" class="btn btn-primary btn-outline with-arrow btn-sm">I'm button <i class="icon-arrow-right"></i></a></p> -->
            </div>
            <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>More about Church Centre</h3>
                <ul class="float">
                    <li><a href="#">Church Website</a></li>
                    <li><a href="#">Children's Ministry</a></li>
                    <li><a href="#">Junior High Ministry</a></li>
                    <li><a href="#">Senior High Ministry</a></li>
                </ul>
                <!--Section disabled
                <ul class="float">
                    <li><a href="#">Free Bootstrap Template</a></li>
                    <li><a href="#">Free HTML5 Template</a></li>
                    <li><a href="#">Free HTML5 &amp; CSS3 Template</a></li>
                    <li><a href="#">HandCrafted Templates</a></li>
                </ul>
                -->

            </div>

            <div class="col-md-2 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Follow Us</h3>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>


            <div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; BTS530-Group 7. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> GitHub Repository at <a
                        href="https://github.com/SenecaCollegeBTSProjects/Group_7"
                        target="_blank">Group 7 Repository</a> Template by <a href="https://freehtml5.co/"
                                                                              target="_blank">FreeHTML5.co</a></span>
                </p>
            </div>

        </div>
    </footer>
</div>


<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/js/jquery.flexslider-min.js"></script>

<!-- MAIN JS -->
<script src="/js/main.js"></script>

<!-- SCROLL JS -->
<script src="/js/ScrollDown.js"></script>

</body>
</html>

