<h1>{{title}}</h1>
<p>Welcome to {{cuck}}</p>
<form action="/test" method="post">
    <p1>First Name<input type="text" id="firstName">
    </p1>
    <br><br>
    <p1>Last Name<input type="text" id="lastName"></p1>


    <button type="submit">Submit</button>
</form>