<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<!--Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<<<<<<< HEAD

=======
>>>>>>> Added navigation bar and changed title to Church Centre
<div class="container">
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>Welcome Church Center! Ready to get started?</p>
        <p><a href="/login" class="btn btn-primary">Login now</a></p>
        <p><span class="small">Don't have an account?</span><span>&nbsp;</span><a href="/register" class="small">Register now</a></p>
        <p><span class="small">Would you like to see whats in the database?</span> <span>&nbsp;</span><a href="/database" class="small">Database</a></p>
    </div>
</div>
</body>
</html>