<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<!--Navigation bar -->
<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="inactive"><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li class="active"><a href="login"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
    </ul>
  </div>
</nav>
<br/>
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>

    <form method="post" role="form" action="/login" class="login-form form-horizontal">
        <input name="_csrf" type="hidden"/>
        <div class="form-group">
            <label class="col-sm-4">User Name</label>
            <div class="col-sm-8">
                <input placeholder="Your first name" required="required" name="username" type="text"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Password</label>
            <div class="col-sm-8">
                <input placeholder="Your last name" required="required" name="password" type="password"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="login btn btn-primary">Login</button>
            </div>
        </div>
        <div class="pull-right"><a href="/">Return to home page</a></div>
    </form>
</div>
</body>
</html>