<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/button.css"/>
    <link rel="stylesheet" href="/stylesheets/clicktoshow.css"/>

</head>
<body>
    <!--Navigation bar -->
    <nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="inactive"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <!--Navigation bar -->
    <br/><br/>
    <p>
        {{#if errors}}
            {{#each errors}}
                <div class ="alert alert-danger">{{msg}}</div>
            {{/each}}
        {{/if}}
    </p>
    <div class="container">
        <div class="page-header">
            <h1>My Profile</h1>
        </div>
        <form method="post" role="form" action="/register" class="login-form form-horizontal">
            <input name="_csrf" type="hidden"/>
            <div class="form-group">
                <label class="col-sm-4">User Name</label>
                <div class="col-sm-8">
                    <input placeholder="username" name="username" type="text"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Password</label>
                <div class="col-sm-8">
                    <input placeholder="password" name="password" type="password"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Confirm Your Password</label>
                <div class="col-sm-8">
                    <input placeholder="password" name="cPassword" type="password"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">First Name</label>
                <div class="col-sm-8">
                    <input placeholder="your first name" name="firstname" type="text"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Last Name</label>
                <div class="col-sm-8">
                    <input placeholder="your last name" name="lastname" type="text"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Street address</label>
                <div class="col-sm-8">
                    <input placeholder="e.g. 123 Sunny Ave" name="streetaddress" type="text"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Email</label>
                <div class="col-sm-8">
                    <input placeholder="e.g. email@domain.com" name="email" type="email"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Phone Number 1</label>
                <div class="col-sm-8">
                    <input placeholder="123-456-7899" required="required" name="phonenumber" type="string"
                           class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Administrator?</label>
                <div class="col-sm-8">
                    <input name="isAdmin" type="checkbox" class="form-control"/>
                </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" id="register" class="login btn btn-primary">Register</button>
                </div>
            </div>
            <div class="pull-right"><a href="/">Return to home page</a></div>
        </form>
    </div>
</body>
</html>