<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<!--Navigation bar -->
<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="homepage2">Church Centre</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="calendar">Calendar</a></li>
            <li><a href="account">Account</a></li>
        </ul>
    </div>
    <h1>THIS IS WHERE THE SCHEDULE WILL BE SHOWN(place holder)</h1>
</nav>
</body>
</html>