body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4f774f;
  color: white;
}

a {
  color: #00B7FF;
}

section {
  float: left;
  background: #bdc3c7;
  padding: 10px;
  margin: 30px;
  width: 300px;
  box-shadow: 3px 3px 1px #34495e;
  min-height: 400px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h3 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.insert {
  background: #2ecc71;
}

.get {
  background: #ecf0f1;
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  display: block;
  font-weight: bold;
  padding: 2px 0;
}

input,
button {
  font: inherit;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  background: #ecf0f1;
  cursor: pointer;
}

button:hover {
  background: #bdc3c7;
}

.item {
  margin: 10px 0;
  padding: 5px;
  background: #95a5a6;
  border: 1px solid black;
}
.navbar-dark
{
  background-color: #2a8921;
  border-color: #2a8921;
}
.navbar-dark .container-fluid .navbar-nav .active a
{
  background-color: #4cd83e;
}
.navbar-dark .container-fluid .navbar-nav .inactive a
{
    color: white;
}
.navbar-dark .container-fluid .navbar-header .navbar-brand
 {
   color: white;
 }
.navbar-dark .container-fluid .navbar-right li a
{
  color: white;
}
.navbar-dark .container-fluid .navbar-right li a:hover, .navbar-dark .container-fluid .navbar-nav .active a
{
  background-color: #4cd83e;
  border-color: #4cd83e;
}

.jumbotron
{
  color: black;
  background-color: #c7f9c7;
}
